[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pytest-cov = "*"
jsonschema = "*"

[packages]
numpy = "*"
pytz = "*"
requests = "*"
protobuf = "*"
tzlocal = "*"

