# Runtime
numpy
protobuf
pytz
requests
tzlocal
click
# Development
pluggy>=0.12.0
pytest
mock
pytest-cov
pytest-pylint
coveralls
tox
tox-travis
# Required to maintain Python 2 support.
pyrsistent<0.16
jsonschema
